body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-title {
  font-size: 30px;
  text-align: center;
}
.custom-button {
  background-image: linear-gradient(to right, #4cbb17, #3fa23e);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.custom-button:hover {
  filter: brightness(1.2);
}

.alert-popup {
  border: 1px solid #000000 !important;
}

.alert-confirm-button {
  background: linear-gradient(to right, #4cbb17, #3fa23e) !important;
  font-weight: normal !important;
  transition: all 0.3s ease;
}

.swal2-actions .swal2-confirm {
  background-color: #f1c40f !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.swal2-actions button:hover {
  filter: brightness(1.2);
}