<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <!-- Bootstrap CDN link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert2 CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles/passwordResetForm.css">
    <!-- Assets -->
    <script src="/static/utils/tokenExtractor.js"></script>
    <script src="/static/utils/passwordChecker.js"></script>
    <script src="/static/utils/addressExtractor.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>AkAnaUser</h1>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 form-container">
          <h1 class="mb-4 form-title">Password Reset</h1>
          <form onsubmit="return checkPasswords(event, extractTokenFromURL())">
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Retype Password:</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="text-center">
              <input type="submit" class="custom-button" value="Reset Password">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and jQuery CDN links (required for Bootstrap functionality) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>